template(name="harvestsChart")
  .harvests-chart
    +harvestSummary
    #chart
      svg
    +drawChart

    .btn-group.pull-right
      if ownsHarvest
        button.btn.btn-default#edit-harvest-btn Edit Harvest
        button.btn.btn-default#activate-harvest-btn Reharvest
        button.btn.btn-default#view-records-btn View Records
        button.btn.btn-default#view-jobs-btn View CKAN Job Status
        button.btn.btn-danger#delete-harvest-btn Delete Harvest
      else
        button.btn.btn-default#edit-harvest-btn(disabled="disabled") Edit Harvest
        button.btn.btn-default#activate-harvest-btn(disabled="disabled") Reharvest
        button.btn.btn-default#view-records-btn View Records
        button.btn.btn-default#view-jobs-btn View CKAN Job Status
        button.btn.btn-danger#delete-harvest-btn(disabled="disabled") Delete Harvest

template(name="harvestSummary")
  h3
    = harvest.name
    .pull-right
      if isHarvesting
        i.fa.fa-spinner.fa-spin
      else
        | Last Harvest: 
        = harvestDate
   p
     a(href=harvest.url target="_blank")= harvest.url

