template(name="harvestsEdit")
  .harvest-edit-form
    if update
      .pull-right
        a#remove-harvest(href="#")
          i.fa.fa-times
      h2 Edit Harvest
      +autoForm id="harvestEdit" schema=formSchema type="method-update" singleMethodArgument=true meteormethod="harvests.update" doc=doc
        +afQuickFields
        .button-group
          button.btn.btn-primary(type="submit") Update
          button#cancel-btn.btn.btn-default(type="button") Cancel
    else
      h2 New Harvest
      +autoForm id="harvestEdit" schema=formSchema type="method" meteormethod="harvests.insert"
        +afQuickFields
        .button-group
          button.btn.btn-primary(type="submit") Submit
          button#cancel-btn.btn.btn-default(type="button") Cancel
