template(name="harvestsChart")
  .harvests-chart
    +harvestSummary
    #chart
      svg
    +drawChart

    .btn-group.pull-right
      button.btn.btn-default#edit-harvest-btn Edit Harvest
      button.btn.btn-default#activate-harvest-btn Reharvest
      button.btn.btn-default#view-records-btn View Records
      button.btn.btn-danger#delete-harvest-btn Delete Harvest

template(name="harvestSummary")
  h3
    = name
    .pull-right
      if isHarvesting
        i.fa.fa-spinner.fa-spin
      else
        | Last Harvest: 
        = harvestDate
   p
     a(href=url target="_blank")= url

