template(name="harvestsChart")
  .harvests-chart
    +harvestSummary
    #chart
      svg
    +drawChart

    .btn-group.pull-right
      button.btn.btn-default#edit-harvest-btn Edit Harvest
      button.btn.btn-default#activate-harvest-btn Activate Harvest
      button.btn.btn-default#view-records-btn View Records
      button.btn.btn-danger#delete-harvest-btn Delete Harvest

template(name="harvestSummary")
  h3
    a#edit-harvest(href='#' data-toggle="tooltip" data-placement="top" title="Edit this harvest")= name
    .pull-right
      if harvesting
        i.fa.fa-spinner.fa-spin
      else
        a#harvest-now(href='#' data-toggle="tooltip" data-placement="top" title="Activate this harvest now")= harvestDate
          
