template(name="harvestsTable")
  table.table.table-hover
    thead
      tr
        th Name
        th Organization
        th URL
        th Type
        th Published?
    tbody
      +each harvests
        if active
          tr.active
            +harvestRow
        else
          tr
            +harvestRow

template(name="harvestRow")
  td
    a.name(href='#')= name
  td= organization
  td 
    a(href="#{url}" target="_blank")
      = url
  td= harvest_type
  td
    .pull-right
      if publish
        i.fa.fa-check-square-o
      else
        i.fa.fa-square-o
