template(name="harvestsChart")
  .harvests-chart
    if _id
      h3
        a#edit-harvest(href='#')= name
        .pull-right
          if harvesting
            i.fa.fa-spinner.fa-spin
          else
            a#harvest-now(href='#')= harvestDate
          
      #chart
        svg
      +drawChart
    else
      h3 Please select a data source
