template(name="MainBanner")
  header
    .container-fluid
      a(href="#{absoluteUrl}")
        img(src="{{absoluteUrl 'images/IOOS_Emblem_Tertiary_B_RGB.png'}}")
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
          .mobile-logo
          a.navbar-brand(href="#{absoluteUrl}")
            img(src="{{absoluteUrl 'images/logo-navbar.png'}}")
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.brand
              a(href="#{absoluteUrl}")
                img(alt="IOOS logo" src="{{absoluteUrl 'images/logo-navbar.png'}}")
            if isLoggedIn
              li
                a(href="{{pathTo 'harvests'}}")
                  | Harvests
            li.right-item
              a(href="#" onclick="return false;") Help
            li.right-item
              a(href="#" onclick="return false;") About
            if isLoggedIn
              li.right-item
                a#logout(href="#" onclick="return false;") Logout
            else
              li.right-item
                a#new-user(href="{{pathTo 'usersNew'}}") Register

            if isAdmin
              li.right-item.dropdown
                a#admin-menu.dropdown-toggle(href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                  span Admin 
                  span.caret
                ul.dropdown-menu(aria-labelledby="admin-menu")
                  li
                    a(href="{{pathTo 'users'}}") User Accounts
                  li
                    a(href="{{pathTo 'organizations'}}") Organizations



  .flash-alert
    +flashMessages
