template(name='MainFooter')
  footer#site-footer
    .bottom
      .center
        .attribution
          | This site was created using
          a(href="https://www.meteor.com/") Meteor
          | and 
          a(href="https://www.npmjs.com/package/maka-cli") Maka-CLI
          | .
