template(name='harvestsEdit')
  .title-crumbs
    .page-title
      h2 Edit a Harvest
    .page-breadcrumbs
      | / Harvest
  .harvests-edit
    .row
      .col-md-12
        +quickForm schema=formSchema id="editHarvest" doc=harvest omitFields="_id,last_harvest_dt"
