template(name='usersNew')
  .title-crumbs
    .page-title
      h2 Register for a user account
    .page-breadcrumbs
      | / Users / New

  .users-new
    .container
      .row
        .reg-message
          p The IOOS Catalog Harvest Registry site is intended as the user interface for users affiliated with one of the <a href="https://data.ioos.us/organization">IOOS data provider organizations</a> to publish web accessible folders or CS-W services with metadata records for the Catalog to harvest.
      .row
        .reg-message
          p If you are affiliated with an IOOS organization and need access to this functionality for dataset publishing, please fill out the information below and we will verify your request. We will not approve requests for general users who do not require access to this tool.
      .row
        .col-md-offset-3.col-md-6.col-sm-12
          +quickForm id="newUser" schema=formSchema type="normal"
        .col-md-3
          .note
            p If you already registered for an account but did not receive an email. 
              a#resend-link(href="#" onclick="return false;") Click here
              | to resend your email.
        .col-md-3
                  .note-poc
                    p Please include the name and email address of a manager or representative of the <a href="https://data.ioos.us/organization">IOOS Organization</a> you belong to to confirm your account
