template(name='loginForm')
  .title-crumbs
    .page-title
      h2 Welcome to the IOOS Harvest Registry
    .page-breadcrumbs
      | / Home
  .login-form
    .form-region
      form
        .form-group
          input#email.form-control(type="email" placeholder="Email")
        .form-group
          input#password.form-control(type="password" placeholder="Password")
        a.forgot-password(href='#') Forgot Password?
        button(type="submit") Login
