template(name='harvests')
  .title-crumbs
    .page-title
      h2 Harvests Dashboard
        a#new-harvest(href="#")
          | &nbsp;&nbsp;+
    .page-breadcrumbs
      | / Harvests
  .harvests
    +Template.dynamic template="dashboardHeading" data=activeHarvest
    .row
      .box.box-6.box-table
        +harvestsTable

      .box.box-6
        if editMode
          +harvestsEdit
        else
          +Template.dynamic template="harvestsChart" data=activeHarvest


