template(name='harvests')
  .title-crumbs
    .page-title
      h2 Harvests Dashboard
        a#new-harvest(href="#")
          | &nbsp;&nbsp;+
    .page-breadcrumbs
      | / Harvests
  .harvests
    +Template.dynamic template="dashboardHeading" data=activeHarvest
    .row
      if harvestSelected
        .box.box-6.box-table.box-table-sm#harvests-table
          +harvestsTable

        .box.box-6
          if editMode
            +harvestsEdit
          else
            +Template.dynamic template="harvestsChart" data=activeHarvest
      else
        .box.box-12.box-table#harvests-table
          +harvestsTable


template(name="harvestLink")
  a(href=url)
    {{parseUrl url}}

template(name="harvestPublished")
  if publish
    i.fa.fa-check-square-o
  else
    i.fa.fa-square-o

template(name="harvestCKANLink")
  if ckanHarvestURL
    a(href=ckanHarvestURL)
      img.ckan-logo(alt="CKAN Logo" src="{{absoluteUrl 'images/logo-ckan.svg'}}")
