template(name='harvests')
  .title-crumbs
    .page-title
      h2 Harvests
    .page-breadcrumbs
      | / Harvests
  .harvests
    .row
      .col-md-6
        .info-section
          .row
            .col-sm-6
              p.name Main WAF
              p.url
                a(href="#") www.google.com
              p.records 1,024 Records Harvested
            .col-sm-6
              .pull-right.org-logo
                img(src="http://www.aoos.org/wp-content/uploads/2012/09/AOOS_logo.jpg" alt="Logo")
          .row
            .piechart.col-sm-12
              img(src="/images/piechart.png")
      .col-md-6
        .list-section
          table.table.table-hover
            thead
              tr
                th Name
                th Organization
                th URL
                th Records
            tbody
              tr.active
                td Main WAF
                td AOOS
                td
                  a(href="#") www.google.com
                td 1,024
              tr
                td Second WAF
                td AOOS
                td
                  a(href="#") www.google.com
                td 0
              tr
                td Unidata
                td AOOS
                td
                  a(href="#") www.google.com
                td 0
              tr
                td SOS
                td AOOS
                td
                  a(href="#") www.google.com
                td 99,020
