template(name='harvests')
  .title-crumbs
    .page-title
      h2 Harvests Dashboard
    .page-breadcrumbs
      | / Harvests
  .harvests.resource
    .container.stretch
      .row
        .box-header
          +Template.dynamic template="dashboardHeading" data=activeHarvest
      .row
        if harvestSelected
          .box.box-table.col-md-6.col-xs-12#harvests-table-box
            +harvestsTable

          .box.col-md-6.col-xs-12
            if editMode
              +harvestsEdit
            else
              +Template.dynamic template="harvestsChart" data=activeHarvest
        else
          .box.box-table.col-md-12.col-xs-12#harvests-table-box
            +harvestsTable


template(name="harvestLink")
  a(href=url target="_blank")
    {{parseUrl url}}

template(name="harvestPublished")
  if publish
    i.fa.fa-check-square-o
  else
    i.fa.fa-square-o

template(name="harvestCKANLink")
  if ckanHarvestURL
    a(href=ckanHarvestURL target="_blank")
      img.ckan-logo(alt="CKAN Logo" src="{{absoluteUrl 'images/logo-ckan.svg'}}")
