/*****************************************************************************/
/* harvests: Style */
/*****************************************************************************/
@box-height: 454px;
@background-gray: #F5F5F5;

.harvests .box-3,
.harvests .box-6{
    width: 100%;
    padding-bottom: 20px;
}

.harvests {
    
    background-color: @background-gray;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: "Roboto", sans-serif;
    color: rgb(153, 153, 153);

    a {
        color: rgb(0, 147, 178);
    }
    h3 {
      font-family: "Roboto Slab", Times, serif;
      margin-bottom: 20px;
    }
    h3.blue {
        color: #52B8EE;
    }
    h3.green {
        color: #28C254;
    }
    h3.red {
        color: #F04537;
    }
    h3.murple {
        color: #C74EF0;
    }
    .box {
        display: inline-block;
        border-radius: 5px;
        vertical-align: top;
        background-color: white;
    }
    .box-table {
        overflow-x: auto;
    }

    // Mobile sizing
    .row {
        padding-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    .box {
        min-height: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }
    #chart {
        width: 400px;
        height: 400px;
    }

    // Small Desktop
    @media (min-width: 1024px) {
        .box {
            padding: 0 10px;
        }
        .box-3 {
            width: calc(~"25% - 15px");
        }
        .box-6 {
            width: calc(~"50% - 15px");
        }
        table {
            font-size: 13px;
        }
        #chart {
            width: 300px;
            height: 300px;
        }
    }
    // Large Desktop
    @media (min-width: 1280px) {
        .row {
            margin-left: 75px;
            margin-right: 75px;
        }
        table {
            font-size: 15px;
        }
        #chart {
            width: 400px;
            height: 400px;
        }

    }

    table.table-hover tbody tr {
        cursor: pointer;
    }
}
